{% extends "shop/base.html" %}
{% block title %}Set New Password - {{ SHOP_NAME }}{% endblock %}
{% block content %}
  <div class="wrap narrow">
    <h1 class="page-title">Set a new password</h1>
    {% if validlink %}
      <form method="post" class="stacked-form">
        {% csrf_token %}
        <div class="field">{{ form.new_password1.label_tag }}{{ form.new_password1 }}{{ form.new_password1.errors }}</div>
        <div class="field">{{ form.new_password2.label_tag }}{{ form.new_password2 }}{{ form.new_password2.errors }}</div>
        <button class="btn btn-terracotta" type="submit">Set password</button>
      </form>
    {% else %}
      <p>This password reset link is invalid or has expired. <a href="{% url 'accounts:password_reset' %}">Request a new one</a>.</p>
    {% endif %}
  </div>
{% endblock %}
